* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  background-color: #f8f8f8;
}

.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
   position: absolute;
  left: 50%;
  bottom: 40px;       
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
  color: #fff;
  max-width: 1400px;
  width: 80%;
  padding: 0 20px;
  z-index: 10;;
}

.hero-content h2 {
  font-family: "Pirata One", cursive;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

.hero-content p {
  font-size: 20px;
  opacity: 0.9;
  font-size: 24px;
  font-family: "Grenze Gotisch", serif;
}

.hero-section {
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
   z-index: 1;
}

/*.logo-with-btn {
  position: fixed;
  top: 20px;
  left:50%;
  transform: translateX(-50%);
   width: calc(100% - 50px); 
  max-width: 1400px;
  z-index: 3000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}*/

.logo {
  color: white; 
  font-family: "Pirata One", cursive;
  font-size: 40px;
  font-weight: 600;
  line-height: 0.5;
}

.menu-btn {
   position: relative;   /* 🔑 FIX */
  cursor: pointer;
}

.menu-btn div {
  width: 28px;
  height: 3px;
  background: white;
  margin: 5px 0;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 3000;
  
  display: flex;
  align-items: center;

  background: transparent;
  transition: background 0.35s ease, box-shadow 0.35s ease, transform 0.35s ease;
}

.header-inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner a{
  text-decoration: none;
}

.site-header.scrolled {
  background: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.site-header.scrolled .logo {
  color: #76290D;
}

.site-header.scrolled .menu-btn div {
  background: #76290D;
}

.hero-section {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 160px 0 120px;
  text-align: center;
  overflow: visible;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.hero-title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: "Pirata One", cursive;
   margin-top:2rem;  
}

.hero-content-box {
  position: relative; /* keep it relative to the hero-section */
  z-index: 3;
  max-width: 1300px;
  margin: 0 auto;
  background: #fff;
  padding: 40px 50px;

  /* Instead of negative margin, use transform */
  top: 20px; /* move it down from the top of hero-section */
  border-radius: 12px; /* optional, looks nicer */
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  width:90%;
  margin: auto;
}

.hero-small-title {
  text-align: center;
  font-size: 24px;
  font-family: "Grenze Gotisch", serif;
  color: #787459;
  font-weight: 300;
  line-height: 1;
}

.hero-bold-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 16px;
  font-family: "Pirata One", cursive;
  color: #76290D;
  letter-spacing: 2px;
  line-height: 1;
}

.hero-description {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  color: #787459;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;        
  height: 100vh;
  background: #fff;
  z-index: 9999;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 4px 0 12px rgba(0,0,0,0.15);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.back-btn {
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: 500;
}

.sidebar-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: "Pirata One", cursive;
  letter-spacing: 1px;
  text-align: center;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.sidebar-links li {
  padding: 12px 0;
  font-size: 18px;
  cursor: pointer;
}

.sidebar a{
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
   text-align: center;
}

.sidebar-footer-img {
  width: 100%;
  margin-top: auto;
}

.home-about-section{
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  width:90%;
  margin: auto;
  gap:2rem;
  padding-bottom: 5rem;
  position: relative;
}

.home-about-section .img-section {
  flex: 1;
}

.home-about-section .img-section img {
  width: 100%;
  height: 500px;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.home-about-section .text-section {
  flex: 1.2;
}


.home-about-section .text-section p {
  line-height: 1.6;
  margin-bottom: 1.8rem;
  font-size: 16px;
  color: #787459;
  transition: 0.2s ease;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: justify;
}

.bottom-btns-heading {
  font-size: 24px;
  font-weight: 300;
  color: #76290D;
  font-family: "Grenze Gotisch", serif;
  margin-bottom: 0.7rem;
  letter-spacing: 1px;
}

.home-about-section a{
  text-decoration: none;
  color: #787459;
}

.home-about-section ul,.seasons-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.home-about-section ul li,.seasons-section ul li {
  border: 2px solid #76290D;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  font-size: 16px;
  color: #787459;
  transition: 0.2s ease;
  font-weight: 300;
}

.home-about-section ul li:hover,.seasons-section ul li:hover {
  background: #e7dccd;
  cursor: pointer;
}

.vector-img-home-about {
  position: absolute;
   top: -10%;
   right:75%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.plane-img-1 {
   position: absolute;
  top: 83%;  
  right: max(88%, 55px);
  width: 60px;
  height: auto;
  transform: rotate(-30deg);
  z-index: 3;
  pointer-events: none;
}

.plane-img-2 {
   position: absolute;
  top: 11.5%;  
  right: 100%; 
  width: 50px;
  height: auto;
  transform: rotate(-100deg);
  z-index: 3;
  pointer-events: none;
}


.text-section{
  width: 40%;
}

.section-heading{
  font-family: "Pirata One", cursive;
  font-size: 42px;
  color: #76290D;
  font-weight: 400;
  line-height: 0.5;
}

.section-subheading{
  font-family: "Grenze Gotisch", serif;
  font-size: 30px;
  color: #787459;
  font-weight: 400;
  line-height: 1;
}

.destinations-section{
  width: 90%;
  max-width: 1400px;
  margin: auto;
  margin-top: -2rem;
  padding-bottom: 5rem;
  position: relative;
}

.destinations-section .section-heading,.destinations-section .section-subheading{
  text-align: center;
}

.destinations-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.destination-card{
  position: relative;
  display: inline-block;
  overflow:visible;
  margin-bottom: 2rem;
}

.destination-card img{
  display: block;
  width: 100%;  
  height: auto;
}

.card-content{
  position: absolute;
  bottom: -40px;
  left: 50%;             
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-content h3{
  font-size: 26px;
}

.card-content p{
  font-family: 'Montserrat', sans-serif;
  color: #787459;
  font-weight: 300;
  font-size: 14px;
}


.vector-img-location {
  position: absolute;
   top: -10%;
   right:-15%;
  height: 110%;
  width: 50%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.plane-img-1-location {
  position: absolute;
  top: 85%;   
  right: max(-15%, 55px); 
  width: 60px;
  height: auto;
  transform: rotate(-125deg);
  z-index: 3;
  pointer-events: none;
}

.plane-img-2-location {
   position: absolute;
  top: 8%;   
  right: -2%; 
  width: 50px;
  height: auto;
  transform: rotate(10deg);
  z-index: 3;
  pointer-events: none;
}


.vector-img-itinerary {
  position: absolute;
   top: -45%;
   right:70%;
  height: 1000px;
   width: 55%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.plane-img-1-itinerary {
  position: absolute;
  top: 0%;   
  right: max(84.5%, 55px); 
  width: 60px;
  height: auto;
  transform: rotate(-100deg);
  z-index: 3;
  pointer-events: none;
}

.vector-img-season {
  position: absolute;
   top: 0%;
   right:100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.plane-img-1-season{
  position: absolute;
  top: 95%;   
  right: max(98.5%, 55px); 
  width: 50px;
  height: auto;
  transform: rotate(-80deg);
  z-index: 3;
  pointer-events: none;
}

.rajasthan-section {
  max-width: 1400px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  margin: auto;
}

.rajasthan-section h2{
  color: #110d76;
}

.rajasthan-content {
  width: 55%;
}

.rajasthan-content p {
  color: #444;
  line-height: 1.7;
  margin-bottom: 22px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 15;
}

.rajasthan-content a {
  color: #7a4a21;
  font-weight: 600;
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
  transition: 0.3s ease;
  font-family: "Grenze Gotisch", serif;
}

.rajasthan-content a:hover {
  color: #000;
}

.rajasthan-img {
  position: relative; 
  width: 100%;
  max-width: 600px; 
  margin: auto;
}

.rajasthan-img img:first-child {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  left: 8%;
}

.rajasthan-img::after {
  content: "";
  position: absolute;
  bottom: -350px; 
  left: -100px;
  width: 150%;
  height: 500px; 
 background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 360' preserveAspectRatio='none'><defs><linearGradient id='grad1' x1='0%' y1='0%' x2='100%' y2='0%'><stop offset='0%' stop-color='%23f8f8f8'/><stop offset='100%' stop-color='%23ffffff'/></linearGradient></defs><path d='M0,60 C200,0 400,120 600,60 C800,0 1000,120 1200,60 C1320,20 1440,80 1440,60 C1400,100 1200,140 1000,120 C800,100 600,140 400,120 C200,100 0,140 0,60 Z' fill='%23f8f8f8'/></svg>");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  pointer-events: none;
}

.rajasthan-img img:last-child {
  width: 70%;
  position: absolute;
  bottom: -40px;
  left: 70%;
  transform: translateX(-50%) translateY(10px); 
  z-index: 10;
}

.trending-section {
  text-align: center;
  padding: 120px 0 180px;
  position: relative;
  overflow-x: visible;
}

.trending-bg::after{
  content: "";
  position: absolute;
  bottom: -350px; 
  left: -100px;
  width: 150%;
  height: 500px; 
 background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 360' preserveAspectRatio='none'><defs><linearGradient id='grad1' x1='0%' y1='0%' x2='100%' y2='0%'><stop offset='0%' stop-color='%23f8f8f8'/><stop offset='100%' stop-color='%23ffffff'/></linearGradient></defs><path d='M0,60 C200,0 400,120 600,60 C800,0 1000,120 1200,60 C1320,20 1440,80 1440,60 C1400,100 1200,140 1000,120 C800,100 600,140 400,120 C200,100 0,140 0,60 Z' fill='%23f8f8f8'/></svg>");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  pointer-events: none;
}

.trending-bg::before{
  content: "";
  position: absolute;
  bottom: 720px; 
  left: -100px;
  width: 150%;
  height: 500px; 
 background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 360' preserveAspectRatio='none'>\<g transform='scale(1,-1) translate(0,-360)'>\<path d='M0,60 C200,0 400,120 600,60 C800,0 1000,120 1200,60 C1320,20 1440,80 1440,60 C1400,100 1200,140 1000,120 C800,100 600,140 400,120 C200,100 0,140 0,60 Z' fill='%23f8f8f8'/>\</g>\</svg>");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  pointer-events: none;
}

.trending-bg {
  width: 100%;
  background: linear-gradient(#fff 0%, #fdeac6 40%, #f6dcae 100%);
  padding: 120px 0;
  position: relative;
  overflow-x: hidden; /* already needed */
  overflow-y: hidden;
}

.trending-section {
  width: 1400px;
  min-width: 1400px;
  max-width: 1400px;
  margin: auto;
  text-align: center;
  position: relative;
}

.curve-line {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 0;
}

.trending-strip {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 60px;
  flex-wrap: nowrap;   
  max-width: 1400px;   
  min-width: 1000px; 
  justify-content: center;
  margin: auto;
  overflow-x: visible;
}

.trending-strip::before {
  height: 140px;          
}

.trending-card {
  width: 120px;
  position: relative;
  text-align: center;
}

.pin {
  width: 10px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.photo-frame img {
 width:100px;
 height: 100px;
  object-fit: cover;
}

.trending-card p {
  margin-top: 10px;
  font-size: 18px;
   font-family: "Grenze Gotisch", serif;
  color:#76290D;
}

.card-0 {  top: 170px; }
.card-1 { top: -45px; }
.card-2 { top: 185px; }
.card-3 {  top: 5px; }
.card-4 { top: 150px; }
.card-5 {  top: -35px; }
.card-6 {  top: 190px; }
.card-7 { top: -5px; }
.card-8 { top: 180px; }

.trending-card:nth-child(1) .pin { bottom: 175px; left: 46%; }
.trending-card:nth-child(2) .pin { bottom: -20px; left: 50%; }
.trending-card:nth-child(3) .pin { bottom: 175px; left: 55%; }
.trending-card:nth-child(4) .pin { bottom: 5px; left: 48%; }
.trending-card:nth-child(5) .pin { bottom: 170px; left: 50%; }
.trending-card:nth-child(6) .pin { bottom: -20px; left: 53%; }
.trending-card:nth-child(7) .pin { bottom: 180px; left: 49%; }
.trending-card:nth-child(8) .pin { bottom: -15px; left: 52%; }
.trending-card:nth-child(9) .pin { bottom: 175px; left: 47%; }

.travel-section {
  max-width: 1400px;
  margin: auto;
  padding: 80px 40px;
  text-align: left;
  position: relative;
  margin-bottom: 8rem;
}

.travel-section::after{
  content: "";
position: absolute;
top: 455px;              
left: 50%;
transform: translateX(-50%);
width: 140%;
height: 200px;           
pointer-events: none;
z-index: 6;
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 360' preserveAspectRatio='none'><path d='M0,180 C140,120 240,60 420,120 C600,190 740,60 920,120 C1080,180 1220,100 1440,140 L1440,0 L0,0 Z' fill='%23f8f8f8'/></svg>");

background-repeat: no-repeat;
background-position: 50% 0;
background-size: 100% 100%;
opacity: 0.95;
filter: blur(8px);
}

.travel-section .section-heading{
  line-height: 1;
}

.travel-desc {
  max-width: 520px;
  color: #787459;
  line-height: 1.7;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.features-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -2rem;
}

.travel-features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.feature {
  width: 33%;
  text-align: center;
  position: relative;
  z-index: 2;
}

.feature-icon {
  width: 55px;
  height: 55px;
  padding: 12px;
  background: #f6e7b2;
  border-radius: 6px;
}

.feature h4 {
  font-family: "Grenze Gotisch", serif;
  font-size: 20px;
  color: #787459;
  line-height: 0;
  font-weight: 300;
  margin-bottom: 1rem;
}

.feature p {
  font-size: 16px;
  color: #787459;
  max-width: 220px;
  margin: auto;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 300;
}


.vector-img-feature {
  position: absolute;
   top: 45%;
   right:0%;
  z-index: 8;
  height: 400px;
  pointer-events: none;
  overflow: hidden;
}

.plane-img-1-feature {
  position: absolute;
  top: 88%;   
  right: max(20%, 55px); 
  width: 60px;
  height: auto;
  z-index: 9;
  pointer-events: none;
}

.dream-section {
  width: 100%;
  height: 520px;
  background: url('./Images/cta.webp') center/cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  position: relative;
}

.dream-section a {
  text-decoration: none;
  color: #ffffff;
}

.dream-section::before{
   content: "";
  position: absolute;
  top: -20px;              
  left: 50%;
  transform: translateX(-50%);
  width: 140%;
  height: 150px;           
  pointer-events: none;
  z-index: 6;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 360' preserveAspectRatio='none'><path d='M0,180 C140,120 240,60 420,120 C600,190 740,60 920,120 C1080,180 1220,100 1440,140 L1440,0 L0,0 Z' fill='%23f8f8f8'/></svg>");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% 100%;
  opacity: 1;
  filter: blur(8px);
}

.dream-section::after {
 content: "";
  position: absolute;
  bottom: -20px;            
  left: 50%;
  transform: translateX(-50%);
  width: 140%;
  height: 150px;
  pointer-events: none;
  z-index: 6;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 360' preserveAspectRatio='none'><path d='M0,180 C160,230 320,300 480,240 C640,170 800,310 960,240 C1120,170 1280,260 1440,220 L1440,360 L0,360 Z' fill='%23f8f8f8'/></svg>");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 100%;
  opacity: 1;
  filter: blur(8px);
}

.dream-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.dream-heading {
  color: #eac17b;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  position: relative;
  z-index: 2;
  font-size: 50px;
  font-weight: 300;
}

.dream-text {
  max-width: 600px;
  font-size: 15px;
  color: #fff;
  line-height: 1.6;
  position: relative;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
}

.dream-btn {
  padding: 12px 32px;
  border: 1px solid #eac17b;
  background: transparent;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
}

.dream-btn:hover {
  background: rgba(234,193,123,0.2);
}

.seasons-section{
  width: 90%;
  max-width: 1400px;
  margin: auto;
  margin-bottom: 8rem;
  position: relative;
}

.seasons-section .section-heading,.seasons-section .section-subheading{
  text-align: right;
}

.seasons-section .center-text{
  text-align: center;
}

.seasons-section a{
  text-decoration: none;
  color: #787459;
}

.heading-ul-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.seasons-section ul li{
  padding: 1rem 2rem;
}

.destination-card h3{
  font-weight: 300;
}

.testimonial-section {
  position: relative;
  padding: 80px 0;
  text-align: center;
  background-image: url("./Images/testimonial-bg.webp");
  background-size: cover;
  background-position: center;
}

.testi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
}

.testimonial-section h3,
.testimonial-section h2 {
  position: relative;
  z-index: 5;
  color: white;
}

.testimonial-section h2{
  font-family: "Pirata One", cursive;
  font-size: 44px;
  letter-spacing: 2px;
  line-height: 0.5;
}

.testimonial-section h3{
  font-family: "Grenze Gotisch", serif;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 0.5;
  color: #d8d8d8;
}

.testi-swiper {
  position: relative;
  z-index: 5;
  padding: 10px 0 40px;
}

.swiper-wrap{
  max-width: 1000px;
  margin: auto;
}

.testi-card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.stars {
  color: #f5b800;
  font-size: 24px;
}

.testi-text {
  color: #787459;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.testi-name,.testi-card h4 {
 color: #787459;
  font-weight: bold;
}

.swiper-pagination {
  display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.quote-section {
  background: #f7e5c2;
  padding: 90px 20px;
  text-align: center;
}

.quote-section-contact-pg {
  background: #fff;
  padding: 90px 20px;
  text-align: center;
  position: relative;
  max-width: 1300px;
  margin: auto;
  margin-top: 5rem;
}

.quote-section-contact-pg::before {
  content: "";
  position: absolute;
  inset: 20px; 
  background: url("./Images/dotted-form.png") center / 100% 100% no-repeat;
  pointer-events: none;
  z-index: 20;
}


.quote-form {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  align-items: start;
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  align-items: start;
}

.full-textarea {
  grid-row: span 3;
  height: 120px;
  resize: none;
}

.quote-form input,
.quote-form textarea {
  padding: 14px 18px;
  border: 1px solid #b08968;
  background: transparent;
  font-size: 14px;
  color: #4b3b31;
  border-radius: 3px;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.quote-form input::placeholder {
  color: #7b6a5a;
}

.submit-btn {
  height: 45px;
  background: #7a5a44;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;

  grid-column: 1 / -1; 
  justify-self: center; 
   width: 300px;
}

.submit-btn:hover {
  background: #5d432f;
}

.footer-section {
  background: #faf9f6;
  padding: 80px 20px 0;
}

.footer-top {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;       
  gap: 40px;
  flex-wrap: nowrap;            
}

.footer-col {
  display: flex;
  flex-direction: column;
  flex: 1;                        
}

.footer-col.brand {
  flex: 1.2;                      
}

.footer-logo {
  font-family: "Pirata One", cursive;
  font-size: 38px;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 15px;
  color: #565656;
}

.footer-col p {
  color: #787459;
  line-height: 1.7;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.footer-col h4 {
  font-family: "Grenze Gotisch", serif;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #787459;
  text-align: left;
}

.footer-col ul {
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  list-style: none;
  padding: 6px 0;
  cursor: pointer;
  text-align: left;
  color: #292929;
  line-height: 1.7;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

footer a{
  text-decoration: none;
  color:#292929 ;
}

.footer-bottom-img {
  width: 100vw;                
  height: 500px;
  background: url('./Images/footer.webp') center/cover no-repeat;
}

.margin-class{
  margin-top: 5rem;
}

.journey-section {
  width: 90%; 
  max-width: 1400px;
  margin: auto; 
  padding: 4rem 0;
  padding-top: 0;
}

.journey-text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  text-align: right;
}

.journey-text p{
  max-width: 800px;
  text-align: left;
  line-height: 1.7;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #787459;
}

.journey-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.left-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.journey-card {
  padding: 1.5rem;
  min-height: 220px;
  color: #fff;
}

.journey-card h3,.img-big-card h3{
  font-family: "Grenze Gotisch", serif;
  font-size: 24px;
  font-weight: 300;
}

.journey-card p,.img-big-card p{
   font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
}

.gold { background: #c27e36; }
.green { background: #ccb363; }

.img-big-card {
  position: relative;
  background-image: url('./Images/journey-bg.webp');
  background-size: cover;
  background-position: center;
  min-height: 460px; 
  overflow: hidden;
}

.img-big-card::after{
  content: "";
  position: absolute;
  inset: 0;                
  background: rgba(0,0,0,0.5);
  z-index: 1;  
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color: #fff;
  z-index:50;
}

.line-height-class{
  line-height: 1;
}

.how-we-work {
  padding: 120px 0;
  background: #fae0a9;
}

.how-we-work-wrapper {
   background-image: url("./Images/dotted-lines.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  max-width: 1400px;
  margin: auto;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-center {
  text-align: center;
  z-index: 2;
}

.how-center .subtitle {
  font-size: 22px;
}

.how-center h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8px;
  line-height: 1;
}

.how-card {
  position: absolute;
  width: 350px;
  background: #76290D;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  z-index: 3;
  transition: box-shadow 0.3s ease;
  padding-bottom: 1.5rem;
}

.how-card:hover {
  box-shadow: 0 28px 60px rgba(0, 0, 0, 0.12);
}

.how-card h4 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #ccb363;
  font-family: "Grenze Gotisch", serif;
  font-weight: 300;
  text-align: center;
}

.how-card p {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300;
  max-width: 80%;
  margin: auto;
}

.how-card.top {
  top: -10%;
  left: 38%;
  transform: translateX(-50%);
}

.how-card.top-right {
  top: 25%;
  left: 70%;
}

.how-card.top-left {
  top: 25%;
  right: 70%;
}

.how-card.bottom-right {
  bottom: -5%;
  right: 10%;
}

.how-card.bottom-left {
  bottom: -5%;
  left: 10%;
}

.next-section-margin{
  margin-top: 15rem;
}

.faq-section {
  max-width: 1400px;
  margin: auto;
  padding:2rem;
}

.faq-section .section-heading ,.faq-section .section-subheading{
  text-align: center;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;
}

.faq-card {
  border: 1.5px solid #9c4a2b;
  padding: 22px 26px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: start;
}

.faq-card:hover {
  background: #faf7f4;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-header h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #6b5e4e;
  margin: 0;
}

.icon {
  font-size: 22px;
  font-weight: 600;
  color: #6b5e4e;
}

.faq-answer {
  margin-top: 18px;
  font-size: 15px;
  line-height: 1.6;
  color: #7a7468;
  font-family: "Montserrat", sans-serif;
  overflow: hidden; /* ensures hidden until motion animation expands it */
  height: 0;   
}

.feature-cards-section{
  max-width: 1400px;
  margin: auto;
  margin-top: 10rem;
}

.feature-cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.feature-card{
  background-color: #76290D;
  padding: 1rem 2rem;
  max-width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

.feature-card h3{
  color: #ccb363;
  font-family: "Grenze Gotisch", serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 1;
}

.feature-card p{
  font-size: 12px;
  line-height: 1.6;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.gallery-section {
  max-width: 1400px;
  margin: auto;
  padding: 2rem;           
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 1rem;
}

.gallery-item {
   aspect-ratio: 1 / 1;
  max-width: 400px;      
  margin: auto;         
  overflow: hidden;
  margin-bottom: 1rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.08);
}

.gallery-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.gallery-modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

.close-btn {
  position: absolute;
  top: 150px;
  right: 130px;
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}

.rajasthan-journey-section {
  max-width: 1400px;
  margin: auto;
  text-align: center;
}

.rajasthan-timeline-item {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}

.rajasthan-content-box {
  width:100%;
  border: 2px dashed #d28b57;
  padding: 40px;
  text-align: left;
  position: relative;
  z-index: 1;
  overflow: visible;
}

.rajasthan-image-card {
  position: absolute;
  top: -50px; 
  width: 400px;
  height: 450px;
  z-index: 10;
}

.rajasthan-image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rajasthan-timeline-item.left .rajasthan-image-card {
  right: -20px;
}

.rajasthan-timeline-item.right .rajasthan-image-card {
  left: -20px;
}

.rajasthan-content-box h4 {
  color: #787459;
  margin-bottom: 12px;
  font-family: "Grenze Gotisch", serif;
  font-weight: 300;
  font-size: 26px;
}

.rajasthan-content-box li {
  font-size: 18px;
  margin-bottom: 6px;
  color: #778877;
}

.rajasthan-timeline-item.left {
  justify-content: flex-start;
}

.rajasthan-timeline-item.right {
  justify-content: flex-end;
}

.rajasthan-timeline-item.left .rajasthan-content-box {
  text-align: left;
}

.rajasthan-timeline-item.right .rajasthan-content-box {
  text-align: left
}

.rajasthan-timeline-item.right .rajasthan-content-box ul {
  padding-right: 0;
  padding-left: 0;
  list-style-position: inside;
  margin-left: 25rem;
}

.rajasthan-timeline-item.right .rajasthan-content-box h4{
  margin-left: 25rem;
}

.no-margin-class{
  margin-top: 0rem;
}

.guide-section {
  padding: 80px 1rem;
  overflow: hidden;
  max-width: 1400px;
  margin: auto;
}

.guide-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 60px;
}

.guide-section .section-heading{
  line-height: 1;
}

.guide-desc {
  font-size: 16px;
  color: #778877;
  line-height: 1.7;
  max-width: 460px;
  font-family: "Montserrat", sans-serif;
}

.guide-tables {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.table-card {
  background: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,.12);
  overflow: hidden;
  transition: transform .35s ease;
}

.table-card:hover {
  transform: translateY(-6px);
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  background: #c27e35;
  color: #fff;
  padding: 16px 20px;
  font-weight: 300;
  font-family: "Grenze Gotisch", serif;
  font-size: 26px;
   column-gap: 30px;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 14px 20px;
  animation: fadeUp .6s ease forwards;
  opacity: 0;
  font-size: 14px;
  color: #778877;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
   column-gap: 30px;
}

.table-row:nth-child(2) { animation-delay: .15s; }
.table-row:nth-child(3) { animation-delay: .3s; }
.table-row:nth-child(4) { animation-delay: .45s; }
.table-row:nth-child(5) { animation-delay: .6s; }

.table-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.animate-left {
  animation: slideLeft .9s ease forwards;
  opacity: 0;
}

.animate-right {
  animation: slideRight .9s ease forwards;
  opacity: 0;
}

@keyframes slideLeft {
  from { transform: translateX(-60px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideRight {
  from { transform: translateX(60px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.itinerary-section {
  padding: 80px 0;
  max-width: 1400px;
  margin: auto;
}

.itinerary-section .section-heading,.itinerary-section .section-subheading{
  max-width: 300px;
}

.itinerary-box {
  max-width: 1200px;
  margin: auto;
  border: 3px dashed #c27e35;
  padding: 60px;
}

.itinerary-grid {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  align-items: center;
}

.itinerary-left h2 {
  line-height: 1.15; 
}

.itinerary-right p {
  font-size: 16px;
  color: #778877;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
}

.details-section {
  padding: 90px 0;
  max-width: 1400px;
  margin: auto;
  text-align: center;
}

.details-cards {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.details-card {
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
  overflow: hidden;
    transition: 
    transform 0.35s ease,
    box-shadow 0.35s ease;
}

.details-card-header {
  background: #c27e35;
  font-weight: 300;
  font-family: "Grenze Gotisch", serif;
  font-size: 26px;
  color: #fff;
  text-align: left;
  padding: 14px 18px;
}

.details-card li {
  list-style: none;
  font-size: 16px;
  color: #778877;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.details-table-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 14px 20px;
  font-size: 16px;
  color: #778877;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.details-card-header span:nth-of-type(2) {
  margin-left: 2rem;
}

.details-table-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}


.details-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.18);
}
