/* Extra small devices (phones, <576px) */
@media (max-width: 575px) {
  .home-about-section {
    flex-direction: column;
    gap: 1.5rem;
    width: 95%;
  }

  .home-about-section .img-section img {
    height: 300px;
  }

  .home-about-section .text-section {
    width: 100%;
  }

  .section-heading {
    font-size: 28px;
  }

  .section-subheading {
    font-size: 20px;
  }

  .bottom-btns-heading {
    font-size: 20px;
  }

  .home-about-section ul li {
    padding: 0.6rem;
    font-size: 14px;
  }

  .destinations-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .destination-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-content {
    width: 90%;
    bottom: 0;
    padding: 0.5rem 0.4rem;
  }

  .card-content h3 {
    font-size: 20px;
  }

  .card-content p {
    font-size: 12px;
  }

  .rajasthan-section {
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 20px;
  }

  .rajasthan-content {
    width: 100%;
  }

  .rajasthan-content p {
    font-size: 14px;
  }

  .rajasthan-content a {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .rajasthan-img {
    width: 100%;
  }

  .rajasthan-img img:first-child {
    width: 100%;
  }

  .rajasthan-img img:last-child {
    width: 80%;
    position: relative;
    bottom: 100px;
    left: 65%;
  }

   /*.trending-strip {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  .trending-strip::before {
    display: none; 
  }

  .trending-card {
    width: 80%;
    transform: rotate(0deg) !important; 
    top: 0 !important;
    margin: auto;
  }

  .trending-card img {
    height: 180px;
  }

  .trending-card p {
    font-size: 13px;
  }*/

   .features-wrap {
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
  }

  .travel-features {
    flex-direction: column;
    gap: 20px;
  }

  .travel-section .section-heading,.travel-section .section-subheading{
    text-align: center;
  }

  .feature {
    width: 100%;
    z-index: 100;
  }

  .travel-desc{
    z-index: 100;
  }

  .feature p {
    max-width: 100%;
    font-size: 14px;
  }

  .feature h4 {
    font-size: 18px;
  }

  .feature-icon {
    width: 45px;
    height: 45px;
    padding: 10px;
  }

  .dream-section {
    height: auto;
    padding: 30px 20px;
  }

  .dream-heading {
    font-size: 32px;
  }

  .dream-text {
    font-size: 14px;
    max-width: 90%;
  }

  .dream-btn {
    font-size: 14px;
    padding: 10px 24px;
  }

   .testimonial-section {
    padding: 50px 20px;
  }

  .testimonial-section h2 {
    font-size: 28px;
    line-height: 1;
  }

  .testimonial-section h3 {
    font-size: 16px;
  }

  .testi-swiper {
    padding: 10px 0 30px;
  }

  .testi-card {
    padding: 0.8rem;
  }

  .testi-text {
    font-size: 14px;
  }

  .testi-name,
  .testi-card h4 {
    font-size: 14px;
  }

  .quote-form {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .full-textarea {
    height: 100px;
  }

  .submit-btn {
    width: 100%;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .footer-logo {
    font-size: 28px;
  }

  .footer-col h4 {
    font-size: 20px;
  }

  .footer-col p,
  .footer-col ul li {
    font-size: 14px;
  }

  .footer-bottom-img {
    height: 250px;
  }
}

/* Small devices (sm: 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .home-about-section {
    flex-direction: column;
    gap: 1.8rem;
    width: 90%;
  }

  .home-about-section .img-section img {
    height: 350px;
  }

  .home-about-section .text-section{
    width:80%;
    margin: auto;
  }

  .section-heading {
    font-size: 32px;
  }

  .section-subheading {
    font-size: 22px;
  }

  .bottom-btns-heading {
    font-size: 22px;
  }

  .home-about-section ul li {
    padding: 0.8rem;
    font-size: 15px;
  }

  .destinations-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .destination-card img {
    width: 100%;
    height: 220px;
  }

  .card-content h3 {
    font-size: 22px;
  }

  .card-content p {
    font-size: 13px;
  }

  .rajasthan-section {
    flex-direction: column;
    gap: 2rem;
    padding: 0 25px;
  }

  .rajasthan-content {
    width: 100%;
  }

  .rajasthan-content p {
    font-size: 15px;
  }

  .rajasthan-content a {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .rajasthan-img {
    width: 100%;
  }

  .rajasthan-img img:first-child {
    width: 100%;
    margin: auto;
  }

  .rajasthan-img img:last-child {
    width: 75%;
    bottom: -20px;
    left: 50%;
  }

  /*.trending-strip {
    gap: 30px;
    padding: 30px 0;
  }

  .trending-strip::before {
    height: 100px;
  }

  .trending-card {
    width: 100px;
  }

  .trending-card img {
    height: 120px;
  }

  .trending-card p {
    font-size: 13px;
  }*/

  .travel-section .section-heading,.travel-section .section-subheading{
    text-align: center;
  }

  .features-wrap {
    flex-direction: column;
    gap: 25px;
  }

  .travel-features {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .feature {
    width: 48%;
    z-index: 100;
  }

  .feature p {
    font-size: 15px;
  }

  .feature-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
  }

  .dream-section {
    height: 450px;
    padding: 35px 25px;
  }

  .dream-heading {
    font-size: 38px;
  }

  .dream-text {
    font-size: 15px;
    max-width: 80%;
  }

  .dream-btn {
    font-size: 15px;
    padding: 11px 28px;
  }

  .testimonial-section {
    padding: 60px 25px;
  }

  .testi-title {
    font-size: 32px;
  }

  .testi-subtitle {
    font-size: 18px;
  }

  .testi-swiper {
    padding: 15px 0 35px;
  }

  .testi-card {
    padding: 1rem;
  }

  .testi-text {
    font-size: 14px;
  }

  .testi-name,
  .testi-card h4 {
    font-size: 15px;
  }

  .quote-form {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  .full-textarea {
    grid-column: span 2;
    height: 110px;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
  }

  .footer-logo {
    font-size: 30px;
  }

  .footer-col h4 {
    font-size: 22px;
  }

  .footer-col p,
  .footer-col ul li {
    font-size: 14px;
  }

  .footer-bottom-img {
    height: 300px;
  }
}


@media (max-width: 990px) {

  .trending-section {
    width: 100%;
    min-width: unset;
    max-width: unset;
    padding: 40px 0 80px;
  }

  .trending-strip {
    overflow-x: auto;
    display: flex;
    gap: 40px;
    padding-bottom: 40px;

    max-width: 100%;
    min-width: unset;
    margin: 0;
  }

  .trending-strip::-webkit-scrollbar { height: 6px; }
  .trending-strip::-webkit-scrollbar-thumb {
    background: #c6a87f;
    border-radius: 10px;
  }

  /* Cards reset to normal (no wave curve) */
  .trending-card {
    top: 0 !important;
    transform: none !important;
  }

  .pin {
    bottom: -15px !important;
  }

  .section-heading{
    line-height: 1;
  }
}
/* Medium devices (md: 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .home-about-section {
    flex-direction: row;
    gap: 1.5rem;
    width: 90%;
  }

  .home-about-section .img-section img {
    height: 400px;
  }

  .section-heading {
    font-size: 34px;
  }

  .section-subheading {
    font-size: 24px;
  }

  .bottom-btns-heading {
    font-size: 22px;
  }

  .home-about-section ul li {
    padding: 0.9rem;
    font-size: 15px;
  }

  .destinations-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
  }

  .destination-card img {
    width: 100%;
    height: 250px;
  }

  .card-content h3 {
    font-size: 24px;
  }

  .card-content p {
    font-size: 14px;
  }

  .rajasthan-section {
    flex-direction: row;
    gap: 30px;
    padding: 0 30px;
  }

  .rajasthan-content {
    width: 55%;
  }

  .rajasthan-img {
    width: 45%;
  }

  .rajasthan-img img:last-child {
    width: 70%;
    bottom: -30px;
    left: 70%;
  }

  /*.trending-strip {
    gap: 40px;
    padding: 35px 0;
  }

  .trending-strip::before {
    height: 120px;
  }

  .trending-card {
    width: 110px;
  }

  .trending-card img {
    height: 125px;
  }

  .trending-card p {
    font-size: 14px;
  }*/

   .features-wrap {
    flex-direction: row;
    gap: 30px;
  }

  .travel-features {
    gap: 25px;
  }

  .travel-desc{
    max-width: 300px;
    z-index: 100;
  }

  .feature {
    width: 32%;
    z-index: 100;
  }

  .feature h4{
    line-height: 1;
  }

  .feature p {
    font-size: 15px;
  }

   .dream-section {
    height: 500px;
  }

  .dream-heading {
    font-size: 44px;
  }

  .dream-text {
    font-size: 15px;
    max-width: 70%;
  }

  .dream-btn {
    font-size: 16px;
    padding: 12px 30px;
  }

  .testimonial-section {
    padding: 70px 30px;
  }

  .testi-title {
    font-size: 38px;
  }

  .testi-subtitle {
    font-size: 20px;
  }

  .testi-swiper {
    padding: 20px 0 40px;
  }

  .testi-card {
    padding: 1.1rem;
  }

  .testi-text {
    font-size: 15px;
  }

  .testi-name,
  .testi-card h4 {
    font-size: 15px;
  }

  .quote-form {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .full-textarea {
    grid-row: span 3;
    height: 120px;
  }

  .footer-top {
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer-logo {
    font-size: 34px;
  }

  .footer-col h4 {
    font-size: 23px;
  }

  .footer-col p,
  .footer-col ul li {
    font-size: 15px;
  }

  .footer-bottom-img {
    height: 350px;
  }
}

/* Large devices (lg: 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .home-about-section {
    flex-direction: row;
    gap: 2rem;
    width: 95%;
  }

  .home-about-section .img-section img {
    height: 450px;
  }

  .section-heading {
    font-size: 36px;
  }

  .section-subheading {
    font-size: 25px;
  }

  .bottom-btns-heading {
    font-size: 23px;
  }

  .home-about-section ul li {
    padding: 1rem;
    font-size: 16px;
  }

  .destinations-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .destination-card img {
    width: 100%;
    height: 280px;
  }

  .card-content h3 {
    font-size: 25px;
  }

  .card-content p {
    font-size: 14px;
  }

  .rajasthan-section {
    gap: 35px;
    padding: 0 35px;
  }

  .rajasthan-content {
    width: 55%;
  }

  .rajasthan-img {
    width: 45%;
  }

  .rajasthan-img img:last-child {
    width: 70%;
    bottom: -35px;
    left: 70%;
  }

  /*.trending-strip {
    gap: 50px;
    padding: 40px 0;
  }

  .trending-strip::before {
    height: 140px;
  }

  .trending-card {
    width: 120px;
  }

  .trending-card img {
    height: 130px;
  }

  .trending-card p {
    font-size: 14px;
  }*/

   .features-wrap {
    gap: 30px;
  }

  .travel-desc{
    max-width: 350px;
  }

  .feature {
    width: 32%;
    z-index:100;
  }

  .feature p {
    font-size: 16px;
  }

   .dream-section {
    height: 520px;
    padding: 40px;
  }

  .dream-heading {
    font-size: 48px;
  }

  .dream-text {
    font-size: 15px;
    max-width: 60%;
  }

  .dream-btn {
    font-size: 16px;
    padding: 12px 32px;
  }

  .testimonial-section {
    padding: 80px 40px;
  }

  .testi-title {
    font-size: 42px;
  }

  .testi-subtitle {
    font-size: 22px;
  }

  .testi-swiper {
    padding: 25px 0 45px;
  }

  .testi-card {
    padding: 1.2rem;
  }

  .testi-text {
    font-size: 15px;
  }

  .testi-name,
  .testi-card h4 {
    font-size: 16px;
  }

   .quote-form {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .full-textarea {
    height: 120px;
  }

  .footer-top {
    gap: 35px;
  }

  .footer-logo {
    font-size: 36px;
  }

  .footer-col h4 {
    font-size: 24px;
  }

  .footer-col p,
  .footer-col ul li {
    font-size: 15px;
  }

  .footer-bottom-img {
    height: 400px;
  }
}
